<div id="Two4ka1">
  <div id="footer" class="text-center">
              <span>
                  &copy;<%= Time.now.year %> Mentors. All Rights Reserved.
                  <a href="#">Privacy Policy</a> and <a href="#">Terms of Use</a>
              </span>
  </div>
</div>

