<!DOCTYPE html>
<html itemscope itemtype="http://schema.org/Organization">
<head>
  <meta itemprop="name" content="Mentors - Providing education assistance to inquisitive minds.">
  <meta itemprop="description" content="Find sample papers, guess papers, programming tutorials in Java, previous years' solved papers, quiz, riddles, doodle, forum, profile option and much more.">
  <meta itemprop="image" content="http://www.wethementors.com/images/heading.png">

  <meta property="og:title" content="Mentors - Providing education assistance to inquisitive minds.">
  <meta property="og:description" content="Find Sample/Guess papers, Java Tutorials, Solved Papers, Quiz, Riddles and more.">
  <meta property="og:url" content="http://www.wethementors.com/home">
  <meta property="og:image" content="http://www.wethementors.com/images/heading.png">
  <meta property="og:image:type" content="image/png">
  <meta property="og:image:width" content="150">
  <meta property="og:image:height" content="50">

  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="description" content="Mentors is a coaching institute for classes IX to XII." />
  <meta name="keywords" content="mentors,wethementors,programming,ISC,ICSE,java,guess,important,
        PCM,computer applications,english,literature,10,12,computer coaching,
        java coaching,programs,board questions,sample papers Tv3Z6pvVcAnZqkEb6AQvjjneOgs" />
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="<?php echo $this->baseUrl();?>/images/logo.ico" type="image/icon" />
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>

  <title>Mentors - We Change The Way You Think</title>
  <% if !@page_title.blank? %>
      <title>Mentors<%= " | #{@page_title}" %></title>
  <% else %>
      <title>Mentors</title>
  <% end %>
  <%= stylesheet_link_tag('home', :media => 'all') %>
  <script>var baseUrl = '<%= request.base_url %>'</script>
</head>
<body>

<div id="fb-root"></div>

<div id="page" class="container-fluid">

  <%= render(:partial => 'layouts/partials/head_nav') %>

  <div id="contentWrapper" class="container">

    <% if !flash[:notice].blank? %>
        <div class="notice alert alert-info text-center">
          <%= flash[:notice] %>
        </div>
    <% end %>
    <% if !flash[:error].blank? %>
        <div class="error">
          <%= flash[:error] %>
        </div>
    <% end %>

    <div id="main" class="col-sm-8 col-md-8 col-lg-9">

      <%= yield %>

    </div><!--main-->

    <div class="col-sm-4 col-md-4 col-lg-3" id="sidebar_right">
      <%= render(:partial => 'layouts/partials/sidebar_right') %>
    </div><!--sidebar_right-->

  </div><!--contentWrapper-->

</div><!-- page -->

<%= render(:partial => 'layouts/partials/footer') %>

<%= javascript_include_tag('home', :media => 'all') %>


<% if Rails.env.production? %>
    <!--<script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>-->
    <!--<script src="https://apis.google.com/js/platform.js" async defer></script>-->
<% end %>

</body>
</html>